.skyblue_button{
    padding:10px 50px 10px 50px;
    background-color: #272477;
    color:white;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
    -webkit-box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.75);
}


.skyblue_button a{
    color:white;
}
.skyblue_button a:hover{
    text-decoration: none;
}



.pri_button{
    padding:10px 50px 10px 50px;
    background-color: $primary-color;
    color:white;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
    -webkit-box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.75);
}
 
.pri_button:hover{
    text-decoration: none!important;
    color:white!important;
}