/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2017, 12:13:51 PM
    Author     : chao
*/
.blog{
    background-color: white;
}
.blogs h1{
    margin-top:40px;
    margin-bottom:40px;
    text-transform: uppercase;
}

.blogs h3{
    text-transform: uppercase;
}

.blog{
    min-height:65%;   
}
.blog .morelink{
    text-transform: uppercase;
    font-size:20px;
    text-align: right;
} 
.blog .image{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 189px;
}
.post{
    margin-top:50px;
    margin-bottom:50px;
}
.post .entry-title{
    text-transform: uppercase;  
}
.post .blogheader{
    margin-bottom:30px;
}
.single-post .headerimage{
    min-height:300px;
    background-position: center;
    background-size: cover;
    margin-bottom:40px;
}
.custom-pagination span,
.custom-pagination a {
    display: inline-block;
    padding: 2px 10px;
}
.custom-pagination a {
    background-color: #ebebeb;
    color: #780910;;
}
.custom-pagination a:hover {
    background-color: #780910;
    color: #fff;
    text-decoration: none;
}
.custom-pagination span.page-num {
    margin-right: 10px;
    padding: 0;
}
.custom-pagination span.dots {
    padding: 0;
    color: gainsboro;
}
.custom-pagination span.current {
    background-color: #780910;
    color: #fff;
}

.custom-pagination{
    text-align: right;
}


@media  (max-width: 768px) { 
    .postcontent{
        min-height: 0;
    }
}