/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2017, 2:48:52 PM
    Author     : chao
*/
.page-template-template-competition .container h1,.page-template-template-league-calendar .container h1{
    text-transform: uppercase;
    margin-top:30px; 
    margin-bottom:30px; 
}

.page-template-template-competition .carousel-item,.page-template-template-league-calendar .carousel-item{
    z-index: 500;
}

.page-template-template-competition .carousel-inner,.page-template-template-league-calendar .carousel-inner{
    overflow: unset;    
}
.page-template-template-competition .content-block,.page-template-template-league-calendar .content-block{
    margin-bottom:40px;
    padding:20px;
    background-color: white;
}

//Sports Press Css
//Css for Standing
.sp-data-table{
    font-family: 'Open Sans', sans-serif!important;
}
.sp-template-league-table .sp-table-caption{
    text-transform: uppercase!important;
    font-size:35px!important;
    text-align: center;
    color:$primary-color!important;
}
.sp-template-league-table .sp-league-table th{
    background: #555!important;
    font-weight: bold!important;
    color:white!important;
    text-transform: uppercase!important;
    text-align: center!important;
    padding: 18px 10px!important;
    font-size: 14px!important;
}
.sp-template-league-table .sp-event-list-table .doubleheader th{
    vertical-align: bottom!important;   
}
.sp-template-league-table .sp-event-list-table .sp-event-list-team-name,.sp-template-league-table .sp-event-list-table .sp-event-list-team-name span{
    font-weight:bold!important;
}
.sp-template-league-table .sp-event-list-table td,.sp-template-league-table .sp-event-list-table td span{
    text-transform: uppercase!important;
    line-height: 40px;
}
.sp-template-league-table .sp-league-table .sp-standing-rank,.sp-template-league-table .sp-league-table.sp-event-list-Male .sp-event-list-number{
    color: $male-color!important;
    font-size: 30px!important;
}
.sp-template-league-table .sp-league-table .sp-standing-rank,.sp-template-league-table .sp-league-table.sp-event-list-Female .sp-event-list-number{
    color: $female-color!important;
    font-size: 30px!important;
}
.sp-template-league-table .sp-league-table .sp-standing-won,
.sp-template-league-table .sp-league-table .sp-standing-points,
.sp-template-league-table .sp-league-table .sp-standing-setsratio,
.sp-template-league-table .sp-league-table .sp-standing-pointsratio,{
    font-weight: bold!important;
}
.sp-template-league-table .sp-league-table .sp-standing-name,
.sp-template-league-table .sp-league-table .sp-standing-lost,
.sp-template-league-table .sp-league-table .sp-standing-points,
.sp-template-league-table .sp-league-table .sp-standing-setsratio,{
    border-right:1px solid #cfcfcf!important;
}
.sp-template-league-table .sp-league-table  .sp-event-list-sets-result{
    font-size: 20px!important;
}
.sp-template-league-table .sp-league-table  .sp-event-list-sets-result{
    font-size: 20px!important;
}
.sp-template-league-table .sp-league-table .sp-event-list-Male .sp-event-list-sets-result,
.sp-template-league-table .sp-league-table .sp-event-list-Male .sp-event-list-sets-division,
.sp-template-league-table .sp-league-table .sp-event-list-Male .sp-result-won {
    color: $male-color!important;
}
.sp-template-league-table .sp-league-table .sp-event-list-Female  .sp-event-list-sets-result,
.sp-template-league-table .sp-league-table .sp-event-list-Female  .sp-event-list-sets-division,
.sp-template-league-table .sp-league-table .sp-event-list-Female .sp-result-won {
    color: $female-color!important;
}
.sp-template-league-table .sp-league-table .sp-standing-name{
    font-size: 15px!important; 
    text-align: center!important;
}
.sp-template-league-table .sp-league-table .sp-standing-penalties{
    color:#d42323!important;
}
.sp-template-league-table .sp-league-table .sp-standing-name img{
    width: 32px!important;
    height: 34px!important;
    margin-right:5px!important; 
}
.sp-template-league-table .sp-league-table td{
    text-align: center!important;
    padding: 10px;
    font-size: 14px!important;
}
.sp-league-table td.data-name{
    text-transform: uppercase!important;
    font-size: 18px!important;
}
.sp-league-table td.data-rank,.sp-league-table td.data-w,.sp-league-table td.data-ratio{
    font-size: 30px!important;
    font-weight: bold!important;
}
.sp-league-table td.data-rank{
    color:$primary-color!important;
}

//Css for Schedule
.sp-event-block .sp-event-block-header{
    padding: 17px 20px!important;
    text-transform: uppercase!important;
    background: #edebeb!important;
    font-size: 16px!important;

}
.sp-event-block .sp-event-block-header .sp-event-venue{
    float:left!important;
    font-size: 16px!important;
    font-weight: bold!important;
    text-align: center!important;
    margin: 0px!important;
    padding: 0px!important;
}
.sp-event-block .sp-event-block-header time{
    float:left!important;
    font-size: 12px!important;
    margin:0px!important;
    margin-left: 20px!important;
    line-height: 26px;
}
.sp-event-block .sp-event-block-content{
    padding-bottom: 0px!important;
    height: 130px;
    position: relative;
}
.sp-event-block .sp-event-block-content .team-logo.logo-odd{
    float: none!important;  
    position: absolute;
    left: 0;
    top: 0;
    height: 130px!important;
    line-height: 130px;
    padding: 0;
    margin: 0;
    width: 25%;
    max-width: 25%;
    white-space: nowrap;
    text-align: left;
}
.sp-event-block .sp-event-block-content .team-logo.logo-even{
    float: none!important;  
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 130px;
    width: 25%;
    max-width: 25%;
    text-align: right;
    line-height: 130px;
    white-space: nowrap;
}

.sp-event-block .sp-event-block-content .sp-team-name {
    text-transform: uppercase!important;
    font-size: 20px!important;
    font-weight: bolder!important;
}
.sp-event-block .sp-event-block-content .sp-team-name.sp-team-name-Male,.sp-event-block  .sp-event-league.sp-team-name-Male{
    color: $male-color!important;
    font-weight: bolder!important;
}
.sp-event-block .sp-event-block-content .sp-team-name.sp-team-name-Female,.sp-event-block .sp-event-league.sp-team-name-Female{
    color:$female-color!important;  
    font-weight: bolder!important;

}

.sp-event-block .sp-event-block-content .sp-event-results{   
    font-weight: bold!important;
    font-size: 36px!important;
    margin: -8px auto -3px!important;  
    padding:15px 12px 15px 12px!important;
} 


//Css for Main Competition
.competition-main h1{
    text-transform: uppercase; 
}

.competition-main .container{
    padding-top:40px;
    margin-bottom:40px;
}
.page-template-template-competition .competition-logo,.page-template-template-league-calendar .competition-logo{
    padding-top:20px;
    padding-bottom:20px;
}




.page-template-template-competition .sub-menu-competition ul.navigation li,.page-template-template-league-calendar .sub-menu-competition ul.navigation li{ 
    padding-top: 0px;
    background-color: hsla(0, 0%, 100%, 0.7);

    padding-bottom: 0px;
}

.page-template-template-competition .sub-menu-competition ul.navigation li a,.page-template-template-league-calendar .sub-menu-competition ul.navigation li a{  
    padding-top: 30px; 
    color:black;
    padding-bottom: 30px;
}

.page-template-template-competition .sub-menu-competition ul.navigation li.active, .page-template-template-competition .sub-menu-competition ul.navigation li:hover,
.page-template-template-league-calendar .sub-menu-competition ul.navigation li.active, .page-template-template-league-calendar .sub-menu-competition ul.navigation li:hover
{
    background-color:rgba(255, 255, 255, 0.92);
}


.page-template-template-competition .menu_section,.page-template-template-league-calendar .menu_section {
    bottom: 0;
    position: relative;
    width: 100%;
    transition: all .3s ease-in-out;
}

.sp-template-league-table.sp-template-league-table-Female .sp-league-table .sp-standing-rank,
.sp-template-league-table.sp-template-league-table-Female .sp-league-table .sp-standing-name,
.sp-template-league-table.sp-template-league-table-Female .sp-league-table .sp-standing-won,
.sp-template-league-table.sp-template-league-table-Female .sp-league-table .sp-standing-points,
.sp-template-league-table.sp-template-league-table-Female .sp-league-table .sp-standing-setsratio,
.sp-template-league-table.sp-template-league-table-Female .sp-league-table .sp-standing-pointsratio,{
    color:$female-color!important;
}

.sp-template-league-table.sp-template-league-table-Male .sp-league-table .sp-standing-rank,
.sp-template-league-table.sp-template-league-table-Male .sp-league-table .sp-standing-name,
.sp-template-league-table.sp-template-league-table-Male .sp-league-table .sp-standing-won,
.sp-template-league-table.sp-template-league-table-Male .sp-league-table .sp-standing-points,
.sp-template-league-table.sp-template-league-table-Male .sp-league-table .sp-standing-setsratio,
.sp-template-league-table.sp-template-league-table-Male .sp-league-table .sp-standing-pointsratio,{
    color:$male-color!important;
}

.sp-template-league-table h3{
    margin-bottom:40px;
    margin-top:40px;
}
.sp-event-block-round button:hover{
    background-color: white!important;
}
.sp-event-block-round #nxt-roundlist{
    float: right;
    position: relative;
    top: -67px;
    background-color: rgba(255, 255, 255, 0.62);
    border: none;
    cursor: pointer;
}

.sp-event-block-round #pre-roundlist{
    float: left;
    position: relative;
    top: 56px;
    background-color: rgba(255, 255, 255, 0.62);
    border: none;
    cursor: pointer;
}
//Css for event list filter
.sp-template .attri-filter-list{
    list-style: none;
    display:flex;    
    padding-left:0px;
}
.sp-template .attri-filter-list li:hover,.sp-template .attri-filter-list li.active{
    background-color:  #938f8f;;
    color:white!important;
}
.sp-template .attri-filter-list li {
    padding: 10px 20px;
    cursor: pointer;
    margin-right:5px;
    background-color:  #e8e8e8;
}
.sp-template .division-filter
{
    display: block!important;
    opacity:1!important;
}
.sp-template .filter-list-common,.sp-template .division-filter {
    transition: 0.5s all ease-in-out;
    list-style: none;
    padding-left: 0;
    display: none;
    opacity:0;    
    width: 100%;
    height: auto !important;
}
.sp-template .filter-list-common li,.sp-template .division-filter li{
    padding: 10px;
    margin-right:10px;
    text-align: center;

    background-color: #e8e8e8;
    cursor: pointer;
    float: left;
}
.sp-template .filter-list-common li.active,.sp-template .division-filter li.active{
    background-color: #7d7d7d;
    color:white!important;
}
.sp-template .filter-list-common li.active:hover,.sp-template .division-filter li.active:hover {
    color:white!important;
}
.sp-template .filter-list-common li:hover,.sp-template .division-filter li:hover{
    color:#9d9d9d!important;
}


//css for location finder
#wpsl-search-wrap{
    font-size: 14px;
}

#wpsl-gmap{
    width:100%!important;
}

#wpsl-result-list {    
    position: absolute;
    background-color: rgba(57, 56, 56, 0.56);
}
#wpsl-stores li{
    color:white;
}
#wpsl-stores .wpsl-country{
    text-transform: uppercase;
}
#wpsl-stores .wpsl-street{
    display:none;
}
#wpsl-stores  .wpsl-directions{
    color: #820000;
    font-weight: bold;
}


#wpsl-stores::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.19);
}

#wpsl-stores::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#wpsl-stores::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:  hsla(0, 0%, 29%, 0.63);
}
.result-details-small{
    display:none;   
}

@media  (max-width: 1200px) { 
    .sp-template-league-table .sp-league-table th{
        padding: 16px 2px!important; 
        font-size: 12px!important;
    }
    .sp-template-league-table .sp-league-table td{
        padding: 2px!important;  
    }

}

@media  (max-width: 992px) { 

    .content h2{
        padding-top:100px; 
        margin-top:0px;
        margin-bottom:40px; 
    }
    .competition-main .container{
        padding-top:100px; 
    }   
    .sets,.sp-standing-setswon,.sp-standing-setslost,.sp-standing-setsratio{
        display:none;
    } 
    .points,.sp-standing-pointswon,.sp-standing-pointslost,.sp-standing-pointsratio{
        display:none;
    } 
    .sp-template-league-table .sp-league-table td{
        font-size:12px!important;
        font-weight:100!important;
    }


}

@media  (max-width: 768px) { 
    .result-details,.sp-standing-threezero,.sp-standing-threeone,.sp-standing-threetwo,
    .sp-standing-twothree,.sp-standing-onethree,.sp-standing-penalties,.sp-standing-zerothree{
        display:none; 
    }
    .result-details-small{
        display: table-cell;
    }
    .result-details-small .team{
        font-size:14px;
    }
    .sp-event-list-Female .score {
        color:$female-color!important;
    }
    .sp-event-list-Male .score {
        color:$male-color!important;
    }
    .result-details-small .vs{
        line-height: 10px;
    }

}
.button_group{
    text-align: right;
    margin-top:20px;
    margin-bottom:20px;
}
.button_group .btn-group{
    margin-right:10px;
}
.button_group .btn{
    padding: 10px;

    text-align: center;
    background-color: #e8e8e8;
    color:black;
    cursor: pointer;    
}
.button_group .btn.active{
    background-color: #7d7d7d;
    color:white;
}
#calendar li a.nav-link{
    padding-bottom: 33px!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
    padding-top: 25px!important;
}
#calendar li .nav-link{
    background-color: #f3f3f4;
    color: #747c83;
    text-transform: uppercase;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#calendar li .nav-link.active{
    color: #323a45;
    background-color: #fff;
    border-top: 2px solid #4a525f;

}
#calendar li .nav-link:hover{
    border-top: 2px solid #4a525f;
}

#calendar_content{
    margin-top:20px; 
}

#calendar_content table td{
    text-transform: uppercase;
}

.dropdown-menu .dropdown-item a:hover{
    text-decoration: none;   
}

.dropdown-menu .dropdown-item:active{
    background-color:white!important; 
}