/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2017, 11:08:39 AM
    Author     : chao
*/

.event-template .background-container{
    padding-top:30px;
    padding-bottom:30px;
    background-size: cover;
    background-position: center center;
    color: white;
    text-transform:uppercase;    
    margin-bottom: 30px;
}
.event-template .event-block {
    text-align: center;
    margin-bottom:30px;  
}
.event-template .event-block h2{
    color:$primary-color;
    text-transform:uppercase;    
}
.event-template .event-block hr{
    border-top: 2px solid $primary-color;  
}

.sp-team-performance-new{
    background-color: #edebeb;
    padding-top:30px;
    padding-bottom:30px;
}
.sp-team-performance-new .value-bar .progress{
    background-color: #ffffff;
    border-radius: 0px!important;
    height: 30px;   
    vertical-align: middle;
    margin-bottom:10px;
}
.sp-team-performance-new .value-bar .metric{
    text-transform: uppercase;
    font-size:20px;
}
.sp-team-performance-new .value-bar .progress-bar{   
    height: 30px;    
}
.sp-team-performance-new .value-bar .team1-value span{
    padding:5px;
    right: 19px;
    position: absolute;
    color:white;
    font-size:20px;
}
.sp-team-performance-new .value-bar .team2-value span{
    padding:5px;
    position: absolute;
    color:white;
    font-size:20px;
}
.sp-team-performance-new .value-bar .progress-bar.primary{   
    background-color: $primary-color;
}
.sp-team-performance-new .value-bar .progress-bar.grey{   
    background-color: #555;
}
.sp-team-performance-new .teams{
    text-align: center;
    text-transform: uppercase;
    font-size:25px;
    margin-bottom:30px;
}
.sp-team-performance-new .teams img{
    max-width: 74px;
    max-height: 80px;
}

.sp-event-blocks .team-logo img {
    max-width: none!important;
    max-height: none!important;
    width: 58px!important;
    vertical-align: middle;
    height: auto!important;
    margin: 0 20px;
}
//Css round filter
#pre-roundlist.hiden,#nxt-roundlist.hiden{
    display:none;
}

.sp-template-event-blocks .sp-event-block-round-filter{
    width:100%;
    z-index: 1000;
    list-style: none;
    padding: 0px;
    display: flex;
    background-color: grey;
}
.sp-template-event-blocks .sp-event-block-round-filter li a {
    display:block;
    padding: 10px;
    color:black!important;

}
.sp-template-event-blocks .sp-event-block-round-filter li p{
    font-size:27px;
    color:black!important;
    margin-bottom:0px!important;
}
.sp-template-event-blocks .sp-event-block-round-filter li{
    flex: 1;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    font-size:11px;
    text-align: center;
    background-color: #edebeb;
}

.round-filter-static{
    position: fixed!important;
    top: 31px!important;
    left: 0px!important;
}
.sp-template-event-blocks .sp-event-block-round-filter li a:hover{
    text-decoration: none!important;
    background-color: black!important;
    color:white!important;
    p{
        color:white!important;
    }
}
.sp-event-blocks .round-caption{
    text-transform: uppercase!important;
    margin-top:30px;
    margin-bottom:30px;
    color:$primary-color!important;
}

//Css for new event block 
.sp-event-block-header .left{
    text-align: left;
}
.sp-event-block-header .right{
    text-align: right;
}
.sp-event-block-header .header-title{
    text-transform: uppercase!important;   
    font-weight:bold!important;   
    font-size:24px;
    margin-bottom: 1px;
}
.sp-event-block-header .title {
    font-size:24px;
    margin-top:10px;
    font-weight:bold!important;  
}
.sp-event-block-header .title.sp-event-league-Male,.sp-event-block-header-small .title.sp-event-league-Male{
    color: $male-color!important;
}
.sp-event-block-header .title.sp-event-league-Female,.sp-event-block-header-small .title.sp-event-league-Female{
    color:$female-color!important;   
}
.sp-event-dates{
    color:#3f3f3f!important;
    font-size:18px!important; 
    margin-bottom:10px;
}
.sp-event-results-details{
    font-size:18px!important; 
}

.sp-event-blocks tr{
    margin-bottom:10px;
}

//club and association
.club-ass row{
    margin-bottom:20px;
}
.club-img{
    max-width:100%;
}



@media  (max-width: 992px) { 
    .sp-team-name{
        display:none;
    }
}
.sp-event-block-header-small .title{
    font-size:18px;
    margin-top:10px;
    font-weight:bold!important;  
}
.sp-event-block-header-small .left{
    font-size:18px;
    top: 10px;
    text-transform: uppercase!important;
    color:#505050!important;
}
.sp-event-block-header-small{
    display:none;
    padding: 0px 20px!important;
    text-transform: uppercase!important;
    background: #edebeb!important;
    font-size: 16px!important;
}
.sp-event-block-header-small .venue,.sp-event-block-header-small .duty-team{
    font-size:12px;
    margin-bottom:5px;
}
@media  (max-width: 768px) {
    .sp-event-block-header{
        display:none;
    }
    .sp-event-block-header-small{
        display:flex;
    }
    .sp-event-results-details{
        background-color: #edebeb!important;
        margin-bottom: 0px;
        top: 10px;
        position: relative;
    }
} 