.credit{
    background-color: #60070d;
    padding-top:15px;
    padding-bottom:15px;
    color:white;
    text-transform: uppercase;
    font-size: 14px;
}

.content-info{
    background-color: #780910;
    padding-top:20px;
    padding-bottom:20px;
    text-transform: uppercase;
    font-size: 14px;
    color:white;
}
.content-info h2{
    color:white;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 45px;
}
.content-info ul{
    list-style: none;
    padding-left:0px;
}
.content-info a{
    color:white;
    font-size: 14px;
    text-transform: uppercase;
}

.designby{
    text-align: right;
}
.designby a{
    color:#c12626; 
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .designby{
        text-align: left;
    } 
}
