//CSS for Header
header{
    background-color: $primary-color;
    height: 90px;
    padding-top:0px;
}
.register a{
    // color:#e6c6c6; 
    color:#fff; 
}
.register a:hover{
    // color:#e6c6c6;
    color:#fff;
    text-decoration: none;
}
header .container{
    height:100%;
    position:relative;
}
header .logo{
    padding-top:5px;
    max-width: 112px;  
}
header .register{
    cursor: pointer;
    margin-top: 45px;
    float: right;
    color: #e6c6c6;
    text-transform: uppercase;
}
header .register img{
    width: 20px;
    position: relative; 
    top: -1px;
}
//Css for slider
.carousel .carousel-item {
    //height: 636px;
    text-align: center;
}
.carousel-item{
    background-position: center;
    background-size: cover;
}
.carousel-item h3{
    text-transform: uppercase;
    font-size:48px;
    margin-bottom:30px;
}
.carousel-item p{
    margin-bottom:30px;
}
.carousel-item .carousel-caption {   
    top: 30%;
}
.slider_button{
    cursor: pointer;
    -webkit-box-shadow: 5px 7px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 12px -3px rgba(0,0,0,0.75);
    text-transform: uppercase;
    background-color:$primary-color;
    padding: 18px 82px;
    border: none;
    color:white;
    font-size:18px;
}
ul.navigation{
    margin-bottom: 0px;
    list-style: none;
    display:flex;
    padding-left: 0;
}
ul.navigation li.relative{
     position:relative;
}
ul.navigation li{
    display:block;

    padding-top: 37px;
    padding-bottom: 30px;
    min-height: 90px;

    margin: auto;
    width: 100%;
    text-transform: uppercase;
   
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor:pointer; 
    color:white;
    text-decoration: none;
}
ul.navigation li a{
    display:block;
    color:white;

} 
ul.navigation li a:hover{
    text-decoration: none;
}
ul.navigation li.active,ul.navigation li:hover,ul.navigation li.focus{
    // background-color: white;
    background-color: rgba(0, 0, 0, 0.36); 
}

.menu_section{

    -webkit-transition: all 0.3s ease-in-out;/* Safari */
    transition: all 0.3s ease-in-out;
}

ul.sub_menu{
    display:none;
    padding: 10px 0px;
    background-color: #60070d; 
    position: absolute;
    z-index: 1000;
    list-style: none;   
    padding-left: 0px;
    top: 90px;
}
ul.sub_menu li{
    padding: 10px 20px;
    color:white;
    min-height:0px;
    text-decoration: none;
    text-align:left;

}
ul.sub_menu a:hover{
    text-decoration: none;
}
.megamenu{
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    display: flex;  
    display: none;   
    width:775px;
    z-index: 1000;
    //background-color: #e4cecf;
    background-color:  #60070d; 
}

.submega{
    padding:30px;
    text-align: left;

}
.submega h5{
    padding-left:5px; 
    color: #bf9c9e;
}
.submega ul{
    list-style: none;
    padding-left: 0px;
    padding-right: 10px;
    border-right: 1px solid #bf9c9e;
}

.submega.last ul{
    border-right: 0px solid #bf9c9e;
}
.submega ul li{
    padding: 5px;
    text-align: left;
    min-height:0px;
    font-size: 13px;
    color:white;
}
.submega ul li:hover{
    background-color: rgba(0, 0, 0, 0.36); 
}
.tooglemenu-wrap{
    display:none;
}
.tooglemenu{
    display: inline-block;
    position: relative;
    margin-top:13px;
    width: 48px;
    height: 30px;
    line-height: 48px;
    color: #e6c6c6;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 22px;

}
.tooglemenu span,.tooglemenu span:before,.tooglemenu span:after{
    width: 24px;
    height: 3px;
    //background-color: #e6c6c6;
    background-color: #fff;    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
}
.tooglemenu span {
    position: relative;
    display: block;
    margin: auto;
    transition: all .3s ease;
}
.tooglemenu span:after, .tooglemenu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    transition: all .3s ease;
    transition-duration: .3s,.3s;
    transition-delay: .3s,0s;
    transition-property: top,-webkit-transform;
    transition-property: top,transform;
    transition-property: top,transform,-webkit-transform;
}
.tooglemenu span:after {
    top: 6px;
}
.tooglemenu.active span {
    transform: rotate(180deg);
    transition: background .3s ease 0s;
    background: transparent;
}
.tooglemenu.active span:before{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tooglemenu.active span:after{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.tooglemenu.active span:after, .tooglemenu.active span:before {
    top: 0;
    transition-delay: 0s,.3s;
}
.second-menu ul li {
    min-height:0px; 
}

// responsive design 

@media (max-width: 992px) {
    header{
        height: 76px;
        position: fixed;    
        z-index: 1000000;
        width:100%;
        padding-top:0px;
    }
    header .logo{
        max-width: 103px;
    }
    header .register{
        margin-top:30px; 
    }

    ul.navigation li{
        font-size: 11px;
        padding-top: 29px;
        min-height:76px;
        padding-bottom: 12px;
    }
    .submega ul li{
        padding:5px!important;
        min-height:0px!important;
    }
    ul.sub_menu{
        top:76px;
    }
    ul.sub_menu li{
        padding-top: 12px!important;
        min-height:10px;
    }
    .submega {
        padding:15px;
        padding-right:70px;
    }
    .megamenu{
        transform: none;
        margin-right: 0px;
        margin-left:  0px;
        top: 76px;
        position:fixed;
        width:100%;
        left:0px;
        z-index:100000;

    }
}


@media (max-width: 767px) { 
    header .logo {
        max-width: 90px;
    }
    header {
        top: 0;
        height: 75px;
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    header .register{
        margin-top: 8px;
    }
    .tooglemenu-wrap{ 
        display: block;
    }
    header .tooglemenu{
        display: block;
        float: right;
    }
    header .menu_section{
        /*top:75px;*/
    }
    header .menu_section.closed{
        opacity: 0;
        display:none;
    }
    header .menu_section.opened{
        opacity: 1;
        display:block;
    }
    header .menu_section .sub_menu.closed{
        opacity: 0;
        display: none;
    }
    header .menu_section .sub_menu.opened{
        opacity: 1;
        display: block;
    }
    header .menu_section .megamenu.closed{
        opacity: 0; 
        display: none;
    }
    header .menu_section .megamenu.opened{
        opacity: 1;
        display: block;
    }
    header .navigation{
        display:block!important;
        z-index: 1000;
        right: 0px;
        position: fixed;
        width: 100%;       
        background-color: #780910;
        padding-top:20px;
    }
    header ul.navigation li {
        font-size: 13px;
        padding-top: 10px;
        color:white; 
        min-height:0px; 
        padding-bottom: 10px;
        background-color: #780910;
    }
    header ul.navigation li.active a{
        color:white;
    }
    header ul.navigation li a{
        color:white;
    }
    header ul.navigation li:hover{
        color:white;
        a{
            color:white;
        }
    }
    header .megamenu {
        display:block;
        top:0px;
        position:relative;
    }
    header .megamenu ul li{
        //background-color:#e4cecf;
        background-color:#60070d;
        color:white;
    }
    header  .submega {
        padding: 10px;
    }
    header .submega h5 {
        padding: 2px;
        font-size: 1rem;
        color:white;
    }
    header .submega{
        text-align: center;
    }
    header .submega ul li{
        text-align: center;
    }
    header .submega ul {
        border-right:0px solid #fff; 
    }
    header  ul.sub_menu {
        top: 0px;
        position: relative;
    }

    header ul.sub_menu li{
        //background-color: #e4cecf;
        background-color:#60070d;
        text-align:center;
        color:white;
    }
    .megamenu{

        position:relative;
        width:auto;


    }
    ul.navigation li:hover {
        background-color: #60070d; 
    }
    .carousel-item .carousel-caption {
        top: 25%;
    }
}