/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2017, 2:02:10 PM
    Author     : chao
*/

/*.banner-competition {
    max-height:50px; 
    background-color: #000000;
    padding-top: 0px;

}
.banner-competition .logo,.banner-competition .logo_section{
    max-width: 56px;
    float: left;
    top: 10px;
}
.banner-competition .menu_section
{
    float: right;
    position: relative;
    width: 85%;
}
.banner-competition ul.navigation li {
    width: auto;
}
.banner-competition ul.navigation li {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000000; 
    color:white;
    font-size: 12px;
}
.banner-competition ul.navigation li a{
    color:white;
}
.banner-competition .megamenu {
    top: 38px;
    background-color: #000000; 
}
.banner-competition ul.sub_menu {
    top: 38px;
}
.banner-competition .tooglemenu {
    position:absolute;
    right: 0px;
}
.page-template-template-competition .slider .container{
    position:relative;
    height:100%;
}
.competition-logo{
    img{
        width: 200px;
    }
    margin-top:60px; 
    margin-bottom:75px;
}


@media (max-width: 767px) { 
    .banner-competition .tooglemenu.active span{
        background-color:black;
    }
    .banner-competition .tooglemenu span , .banner-competition .tooglemenu span:before,.banner-competition .tooglemenu span:after {
        background-color:white;
    }
    .banner-competition .navigation {
        top: 96px;
        background-color: #000;
    }
    .banner-competition ul.navigation li:hover, .banner-competition ul.navigation li:hover a {  
        color:white;
    }
    .banner-competition ul.sub_menu {
        top:10px;
    }
    .banner-competition ul.sub_menu a, .banner-competition .submega h5 { 
        color:white;
    }
    .banner-competition ul.sub_menu li{
        background-color: #000;
    }
    .banner-competition .megamenu {
        top: 10px;
        background-color:  #000;
    } 
    .banner-competition .megamenu .submega li a{
        color:white;
    }
    .banner-competition .megamenu .submega li{
        background-color:  #000; 
        color:white;
    }
    .banner-competition .submega h5 {
        padding:5px;
    }
    .banner-competition .submega {
        padding: 0px;
    }
    .banner-competition .menu_section.closed .navigation{
        display: none!important;
    } 

    .banner-competition .menu_section.opened .navigation{
        display: block!important;
    } 
    .competition-logo{
        img{
            width:140px;     
        }
        padding-top: 80px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
}*/
