/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2017, 1:58:55 PM
    Author     : chao
*/

.welcome{
    background-color: #f0f0f0;
    min-height:450px;
}
.welcome .container{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}
.welcome h2{
    text-transform: uppercase;    
    font-size:34px;
}
.welcome h3{
    text-transform: uppercase;    
    font-size:28px;
    color:#808080;
    margin-bottom: 20px;
}
.welcome p{
    color:#808080;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}
.map_image{
    max-width: 80%;
}
.competitions-part{
    padding-top: 20px;
    padding-bottom: 20px;
}
.competitions-part .container{
    text-align: center;
    background-color: white;
    min-height:450px;
}
.competitions-part h2{
    text-transform: uppercase;    
    font-size:30px; 
}

.recent_news{
    background-color: $primary-color; 
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
}
.recent_news .post{
    margin-top:30px;
}
.recent_news h2{
    text-transform: uppercase;    
    font-size:30px; 
}
.recent_news p{

    font-size:14px; 
}

.postthumbnail{
    width:100%;
    height: 189px;
    background-size: cover;
    background-position: center;
}
.postcontent{
    padding:20px;
    background-color: #69080e;
     
}
.postcontent p{ 
    margin-bottom: 30px; 
}
.postcontent h4{
    text-transform: uppercase;    
    margin-bottom: 30px;
}
.postcontent a{
    text-transform: uppercase; 
    font-size:15px;
    color:white;
    text-decoration: underline;
}

.introbox{
    margin-bottom: 50px;
} 

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .themap{
        display:none;
    }

    h2,h3{
        font-size:18px!important;
    }
    .slider_button{
        padding: 12px 28px;
    }
    .skyblue_button{
        top: -7px;
        position: relative;
        padding: 7px 18px;
    }
}

