.main{
    padding-left:0px;
    padding-right:0px;
}
.page-template-template-custom .main .container,{
    padding-top: 65px;
    margin-bottom:50px;
}

.page-template-template-custom .page-header h1{
    text-transform: uppercase;
    margin-bottom:50px;
}
@media (min-width: 576px)
{
    .sidebar-primary .main {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }    
}
.normal-table{
    text-align: center;
}
.table-junior tr td.boy{
    background-color: #2548c0!important;
    color:white;
}

.table-junior tr td.girl{
    background-color:#d40251!important;
    color:white;
}

.table-junior tr td.info{
    background-color:#13ff89 !important;
    color:white;
}

h2{
    margin-top:40px; 
    margin-bottom:40px; 
}
h3{
    margin-top:20px; 
    margin-bottom:20px; 
}

.su-tabs .su-tabs-nav span{
    font-size:15px;
}



.member-table .full td:nth-child(1) {
    color:white;
    background:rgb(127, 0, 0)!important;
}
.member-table .Recreational td:nth-child(1){
    color:white;
    background:#292579!important;
}
.member-table .Tournament td:nth-child(1){
    color:white;
    background:#A8A8A8!important;
}
.member-table .SpikeZone td:nth-child(1){
    color:white;
    background:#6cb12a!important;
}
.member-table .Non_Playing td:nth-child(1){
    color:white;
    background:#d0cb00!important;
}

.member-table .full.su-even td:nth-child(1) {
    background: #f7f7f7 !important; 
    color:black!important;
} 
.member-table .Recreational.su-even td:nth-child(1){
    background: #f7f7f7 !important; 
    color:black!important;
}
.member-table .Tournament.su-even td:nth-child(1){
    background: #f7f7f7 !important; 
    color:black!important;
}

@media (max-width: 992px) {
    .page-template-template-competition .sub-menu-competition{
        padding-top: 76px;
    }
    .page-template-template-custom .main .container,{
        padding-top: 115px;
        margin-bottom:50px;
    }

}