/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2017, 9:08:24 AM
    Author     : chao
*/

.page-template-template-resources .page-header h1{
    margin-top:40px;
    text-transform: uppercase;
    margin-bottom:40px;

}
.resource-panel{
    padding:10px;
}

.resource-panel .resource-header{
    background-color:#515151;
    padding:10px 20px 10px 20px;
}

.resource-panel .resource-header h3{
    margin-top:0px;
    font-size: 18px;
    color:white;
    margin-bottom:0px;
}
.resource-panel .resource-body{
    padding:10px 20px 10px 20px;
    border: 2px #615b5b solid;
}