.su-spoiler.su-spoiler-style-default{
    border: 2px solid #615b5b;
}

.su-spoiler .su-spoiler-title{
    background-color: #515151;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color:white;
}

.su-spoiler .su-spoiler-icon{
    color:white; 
}
